import type { Meta, StoryObj } from '@storybook/angular';
import { <%= className %> } from './<%= fileName %>';

const meta: Meta<<%= className %>> = {
  title: 'Components/<%= displayName %>',
  component: <%= className %>,
  tags: ['autodocs'],
};

export default meta;

type Story = StoryObj<<%= className %>>;

export const Showcase: Story = {};
